#header{
    text-align: center;
}
#content{

}

#orderHeader {
    text-align: center;
}

.ingredients {
    display: inline-block;
    width: 25%;
}

.columns {
    display: flex;
}

.validationErrors {
    color: red;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.ingredientTopic {
    margin-top: 50px;
    margin-bottom: 50px;
}