#header{
    text-align: center;
}
#content{
    margin-left: 40%;
}

.ingredients {
    display: inline-block;
    width: 25%;
}

.columns {
    display: flex;
}

.validationErrors {
    color: red;
}