<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Burger</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div id="header">
    <h1>Spring Burger - Order Form</h1>
    <img th:src="@{/images/gzuz.jpg}" width="400px" alt="Burger">
</div>
<form method="post" th:action="@{/order}" th:object="${order}">
    <div id="orderHeader">
        Send my Burger <span th:text="${designBurger.getName()}"></span> with
        <span th:text="${designBurger.printIngredientsPretty()}"> </span>to:
    </div>

    <br>


    <div class="d-flex justify-content-around">
        <br>
        <span class="validationErrors" th:if="${#fields.hasErrors('name')}"
              th:errors="${order.name}">
            name Error
    </span>
        <label for="name">
            Name:
            <input id="name" type="text" th:field="${order.name}">
        </label>

        <span class="validationErrors" th:if="${#fields.hasErrors('street')}"
              th:errors="${order.street}">
            street Error
        </span>
        <label for="street">
            Street:
            <input id="street" type="text" th:field="${order.street}">
        </label>

        <span class="validationErrors" th:if="${#fields.hasErrors('city')}"
              th:errors="${order.city}">
            city Error
        </span>
        <label for="city">
            City:
            <input id="city" type="text" th:field="${order.city}">
        </label>
    </div>

    <br>

    <div class="d-flex justify-content-around">
        <button type="submit">Submit the Order</button>
    </div>
</form>
</body>
</html>